#textBody {
    text-align:left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background-color: #120e07;
    color: #ffce54;
}

.fa:hover{
    opacity: 0.7;
}

#backgroundBody {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background: url(photo.jpg);
    background-size: cover;
    background-color: #464646;

}
/* 
body {
    background: linear-gradient(#00cec9,#dfe6e9);
    background-attachment: fixed;
} */
